# JWT Secret
JWT_SECRET=your-super-secret-key-change-this-in-production

# MongoDB connection string
MONGODB_URI=mongodb://localhost:27017/skillzyy

PORT=3000


NODE_ENV=development

CORS_ORIGIN=https://skillzyyy-frontend.onrender.com

# Razorpay (test)
RAZORPAY_KEY_ID=rzp_test_SQND7PBjAsvi8S
RAZORPAY_KEY_SECRET=Q803t63cTRAN6p2MtuSifVOV

